/* Estilos generales */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Asegura que la imagen del carrusel se ajuste al ancho de la pantalla */
.carousel-item img {
    width: 100%;
    height: auto;
}

/* Estilos para el encabezado y Navbar */
.navbar {
    background-color: #dc3545;
    /* Color de fondo del Navbar */
}

/* Alinea el logotipo y el botón del Navbar en dispositivos más pequeños */
.navbar-brand {
    padding: 0;
    margin-right: 0;
}

/* Alinea el menú en el centro en dispositivos más pequeños */
.navbar-collapse {
    justify-content: center;
}

/* Estilos para la sección de Inicio */
#inicio {
    background-color: #aba3ab;
    padding: 50px 0;
    text-align: center;
}

/* Estilos para el título en la sección de Inicio */
#inicio h1 {
    font-size: 30px;
    /* Tamaño de fuente más grande en dispositivos más pequeños */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Estilos para el párrafo en la sección de Inicio */
#inicio p {
    font-size: 20px;
    /* Tamaño de fuente más pequeño en dispositivos más pequeños */
    margin-top: 100px;
    color: #000;
}

/* Alinea el contenido de la sección de Inicio en dispositivos más pequeños */
#inicio .col-md-6 {
    text-align: center;
}

/* Asegura que la imagen de la sección de Inicio se ajuste al ancho de la pantalla */
#inicio img {
    max-width: 90%;
    height: auto;
    margin-top: 20px;
    border-radius: 100px;
    scale: 0.8;
    transition: transform 0.2s;
}

#inicio img:hover {
    transform: scale(1.1);
}

/* Estilos para la sección de Descripción */
#descripcion {
    background-color: #4f575b;
    padding: 50px 0;
    text-align: center;
}

/* Estilos para el título en la sección de Descripción */
#descripcion h2 {
    font-size: 30px;
    margin-bottom: 25px;
    color: #fff;
}

/* Estilos para el párrafo en la sección de Descripción */
#descripcion p {
    font-size: 18px;
    padding-top: 20px;
    margin-top: 20px;
    color: #fff;
}

/* Asegura que las imágenes en la sección de Descripción sean responsivas */
#descripcion .img-fluid {
    max-width: 40%;
    height: auto;
    margin-top: 20px;
    transition: transform 0.5s;
}

#descripcion .img-fluid:hover {
    transform: scale(1.2);
}

/* Estilos para la sección de Visión, Misión y Objetivos */
#vision {
    background-color: #DFC7FF;
    padding: 50px 0;
    text-align: center;
}

/* Estilo para los títulos en la sección de Visión */
#vision h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

/* Estilo para los párrafos en la sección de Visión */
#vision p {
    font-size: 18px;
    padding-top: 20px;
}

/* Asegura que las columnas en la sección de Visión sean responsivas */
#vision .col-md-4 {
    height: 500px;
    text-align: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* Estilo para el contenedor de la sección */
#vision .container {
    text-align: center;
    /* Contenido del contenedor centrado */
    background-color: #DFC7FF;
    /* Cambia el fondo del contenedor a un color diferente */
}

/* Estilo para el hover en los títulos y columnas */
#vision h3:hover,
#vision .col-md-4:hover {
    transform: scale(1.1);
    /* Escala en 1.2 en hover */
}

/* Estilos para la sección de Situaciones */
#situaciones {
    background-color: #E5E5E5;
    padding: 50px 0;
    text-align: center;
}

/* Estilo para los títulos en la sección de Situaciones */
#situaciones h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    padding: 20px;
    cursor: pointer;
    transition: transform 0.4s ease;
}

/* Estilo para los párrafos en la sección de Situaciones */
#situaciones p {
    font-size: 18px;
    color: #000;
}

/* Estilo para el hover en los títulos */
#situaciones h3:hover {
    transform: scale(1.1);
    /* Escala en 1.1 en hover */
}


/* Estilos para la sección de Quienes Somos */
#nosotros {
    background-color: #f8f8f8;
    padding: 50px 0;
}

/* Estilo para los títulos en la sección de Quienes Somos */
#nosotros h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 30px;
}

/* Estilo para los nombres en la sección de Quienes Somos */
#nosotros h4 {
    font-size: 24px;
    color: #333;
    padding: 40px 0;
}

/* Estilos para los círculos en la sección de Quienes Somos */
.circle {
    width: 150px;
    height: 150px;
    background-color: #66B5FF;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto 20px;
    line-height: 120px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

/* Estilo para el hover en los círculos */
.circle:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 600px) {

    /* Estilos generales */
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    /* Asegura que la imagen del carrusel se ajuste al ancho de la pantalla */
    .carousel-item img {
        width: 100%;
        height: auto;
    }

    /* Asegura que la imagen de la sección de Inicio se ajuste al ancho de la pantalla */
    #inicio img {
        max-width: 100%;
        height: auto;
        margin-top: 20px;
        border-radius: 100px;
        scale: 0.8;
    }

    /* Asegura que las imágenes en la sección de Descripción sean responsivas */
    #descripcion .img-fluid {
        max-width: 40%;
        height: auto;
        margin-top: 20px;
    }

    /* Asegura que las columnas en la sección de Visión sean responsivas */
    #vision .col-md-4 {
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }

    /* Estilo para los títulos en la sección de Situaciones */
    #situaciones h3 {
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
        padding: 20px;
        cursor: pointer;
        transition: transform 0.4s ease;
    }

}